<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reale State DjML</title>
</head>
<body>
    <style>
        .navbar-brand{
            padding: 1%;
            width: 20%;
            color: white;
        }
        .navbar-brand:hover {
            background-color: rgb(40, 134, 16);
        }
    </style>
    
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Estimation</a>
          </div>
      </nav>
    <p class="bord" test-align="center">
        <p>Ce bien est estimé à : {{Prix}}</p>
    </p>
    <p class="bord">
        <p>If you want a new estimate :</p>
        <form action="/predict" method="post">
            <style>
                .input-group-prepend {
                    margin: 0.2%;
                }
                .input-group-text {
                    color: white;
                    background-color: rgb(40, 134, 16);
                }
            </style>

            <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text">City :</span>
                </div>
                <input type="text" aria-label="city" class="form-control">

                <div class="input-group-prepend">
                    <span class="input-group-text">County :</span>
                </div>
                <input type="text" aria-label="county" class="form-control">

                <div class="input-group-prepend">
                    <span class="input-group-text">District :</span>
                </div>
                <input type="text" aria-label="district" class="form-control">
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text">Area in m² :</span>
                </div>
                <input type="text" aria-label="area_m2" class="form-control">

                <div class="input-group-prepend">
                    <span class="input-group-text">Ground in m² :</span>
                </div>
                <input type="text" aria-label="ground_m2" class="form-control">
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text">Number of room :</span>
                </div>
                <input type="text" aria-label="nb_room" class="form-control">

                <div class="input-group-prepend">
                    <span class="input-group-text">Number of bedroom :</span>
                </div>
                <input type="text" aria-label="nb_bedroom" class="form-control">
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text">Pool :</span>
                </div>
                <select class="form-control form-control-lg">
                    <option>True</option>
                    <option>NaN</option>
                </select>
                <!--
                    <input type="text" aria-label="pool" class="form-control">
                -->
                <div class="input-group-prepend">
                    <span class="input-group-text">Cellar :</span>
                </div>
                <select class="form-control form-control-lg">
                    <option>True</option>
                    <option>NaN</option>
                </select>
                <div class="input-group-prepend">
                    <span class="input-group-text">Garage or Parking :</span>
                </div>
                <select class="form-control form-control-lg">
                    <option>True</option>
                    <option>NaN</option>
                </select>
            </div>
            <br>
            <style>
                .btn {
                    display: block;
                    margin : auto;
                    }
            </style>
             
            <button type="submit" class="btn btn-primary" >Submit</button>
        </form>
    </p>
</body>
</html>